body{
    background: url("../images/background.webp"); 
    background-size: cover;
    height: auto; 
}
.card{
    margin: 15%; 
}
h1{
    color:#FF7E00; 
    font-size: 80px;
    text-align: center;
    font-family: 'Creepster', cursive;
}
button{
    background-color: rebeccapurple;
    font-family: 'Creepster', cursive;
}

.card{
    border: none; 
}

#gameQuestions, #showtime {
    display: none; 
}